.content {
    padding: 24px;
    padding-top: 50px;
}

mat-card{
    color: white;
    background-color: #3f51b5;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

mat-card-title-group {
    display: flex;
    justify-content: center;
}