<div class="page">
    <mat-toolbar class="mat-elevation-z6" color="primary">
        <mat-toolbar-row>
            <mat-icon>timeline</mat-icon>UbikLoadPack Observability Dashboard
        </mat-toolbar-row>
    </mat-toolbar>

    <div  [ngSwitch]="status">

        <div class="info" *ngSwitchCase="0">
            <mat-icon aria-hidden="false">settings</mat-icon>
            <span class="icon-align">Retrieving plugin configuration</span>
        </div>

        <div class="info" *ngSwitchCase="1">
            <mat-icon aria-hidden="false">pending</mat-icon>
            <span class="icon-align">Waiting for sample metrics</span>
        </div>

        <div class="content" *ngSwitchCase="2">

            <form class="chart-form">
                <mat-form-field class="form-full-width" appearance="fill">                   
                    <mat-label><mat-icon >search</mat-icon></mat-label>
                    <input type="text" matInput [formControl]="control" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let chart of filteredCharts | async | keyvalue" [value]="chart.value">
                            {{chart.value}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div *ngFor="let chart of chartData | keyvalue">
                <app-ulp-observability-chart
                [datasets]="datasets[chart.key]"
                [threads]="threads"
                [title]="chart.value"
                [totalLabel]="totalLabel"
                [visibleSamplers]="visibleSamplers"
                ></app-ulp-observability-chart>
            </div>

            <app-ulp-observability-statistics
            [datasets]="datasets"
            [threads]="threads"
            >
            </app-ulp-observability-statistics>
            
            <app-ulp-observability-metrics
            [datasets]="datasets"
            [totalLabel]="totalLabel"
            [threads]="threads[totalLabel+'_threads']"
            >
            </app-ulp-observability-metrics>
        </div>

        <div class="info" *ngSwitchCase="3">
            <mat-icon aria-hidden="false">error</mat-icon>
            <span class="icon-align">Startup error, retrying...</span>
        </div>

        <div class="info" *ngSwitchDefault>
            <mat-icon aria-hidden="false">help</mat-icon>
            <span class="icon-align">Something went wrong</span>
        </div>

    </div> 


    <mat-card *ngIf="!reqSuccessful">
        <mat-card-content>
            <mat-icon aria-hidden="false">error</mat-icon>
            <span class="icon-align">Error on retrieving metrics data</span>
        </mat-card-content>    
    </mat-card>
    
</div>

