<div class="page">
    <mat-toolbar class="mat-elevation-z6" color="primary">
        <mat-toolbar-row>
            <mat-icon>timeline</mat-icon>UbikLoadPack Observability Dashboard
        </mat-toolbar-row>
    </mat-toolbar>

    <div  [ngSwitch]="status">

        <div class="info" *ngSwitchCase="0">
            <mat-icon aria-hidden="false">{{'dashboard.settings' | translate}}</mat-icon>
            <span class="icon-align">{{'dashboard.config' | translate}}</span>
        </div>

        <div class="info" *ngSwitchCase="1">
            <mat-icon aria-hidden="false">{{'dashboard.pending' | translate}}</mat-icon>
            <span class="icon-align">{{'dashboard.waiting' | translate}}</span>
        </div>

        <div class="content" *ngSwitchCase="2">

            <form class="chart-form">
                <mat-form-field class="form-full-width" appearance="fill">                   
                    <mat-label>
                        <mat-icon>{{'dashboard.searchBar' | translate}}</mat-icon>
                        {{'dashboard.graphFilter' | translate}}
                    </mat-label>
                    <input type="text" matInput [formControl]="control" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let chart of filteredCharts | async | keyvalue" [value]="chart.value">
                            {{chart.value}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div *ngFor="let chart of chartData | keyvalue">
                <app-ulp-observability-chart
                [datasets]="datasets[chart.key]"
                [threads]="threads"
                [title]="chart.value.description"
                [unit]="chart.value.unit"
                [totalLabel]="totalLabel"
                [visibleSamplers]="visibleSamplers"
                ></app-ulp-observability-chart>
            </div>

            <app-ulp-observability-statistics
            [datasets]="datasets"
            [threads]="threads"
            >
            </app-ulp-observability-statistics>

            <app-ulp-observability-statistics
            [datasets]="datasets"
            [threads]="threads"
            >
            </app-ulp-observability-statistics>

            <app-ulp-observability-top-errors
            [datasets]="datasets"
            [threads]="threads"
            [totalLabel]="totalLabel"
            >
            </app-ulp-observability-top-errors>
            
            <app-ulp-observability-metrics
            [datasets]="datasets"
            [totalLabel]="totalLabel"
            [threads]="threadsEveryPeriods[totalLabel+'_threads_every_periods']"
            >
            </app-ulp-observability-metrics>
        </div>

        <div class="info" *ngSwitchCase="3">
            <mat-icon aria-hidden="false"  >{{'dashboard.error' | translate}}</mat-icon>
            <span class="icon-align"  >{{'dashboard.retryOnError' | translate}}</span>
        </div>

        <div class="info" *ngSwitchDefault>
            <mat-icon aria-hidden="false"  >{{'dashboard.help' | translate}}</mat-icon>
            <span class="icon-align"  >{{'dashboard.unknownError' | translate}}</span>
        </div>

    </div> 


    <mat-card *ngIf="showErrorMessage">
        <mat-card-content>
            <mat-icon aria-hidden="false"  >{{'dashboard.error' | translate}}</mat-icon>
            <span class="icon-align error-message"  >{{'dashboard.dataError' | translate}}</span>
            <mat-icon class="close-icon" aria-hidden="false" (click)="closeError()"  >
                {{'dashboard.close' | translate}}
            </mat-icon>
        </mat-card-content>    
    </mat-card>
    
</div>

