<div class="content">
    <h1>Total Info</h1>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" *ngFor="let card of cards | keyvalue">
            <mat-card class="mat-elevation-z8">
                <mat-card-title-group>
                    <mat-card-title>
                        <mat-icon>{{cards[card.key].icon}}</mat-icon>
                        {{cards[card.key].label | translate}}
                    </mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    <h1>{{cards[card.key].data.value != undefined ? cards[card.key].data.value : 0}} {{cards[card.key].data.unit}} {{cards[card.key].data.comment}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>