.content {
    padding: 24px;
    padding-top: 50px;
}

.card-metric {
    color: white;
    background-color: #3f51b5;
}

.card-metric-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-metric-group {
    display: flex;
    justify-content: center;
}

