.content {
    padding: 24px;
    padding-top: 50px;
}

.card-metric {
    color: white;
    background-color: #3f51b5;
}

.card-metric-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-metric-group {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex; 
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    flex: 30%; /* ou toute autre valeur en fonction de votre mise en page souhaitée */
}

.gap-16 { 
    gap: 16px; 
}