<div>
    <div style="display: block">
      <canvas baseChart
              [type] = "chartType"
              [datasets]="datasetGroups[selectedSample]"
              [labels]="labels"
              [options]="chartOptions"
              >
      </canvas>

      <mat-form-field appearance="fill">
        <mat-label>Sample list</mat-label>
        <mat-select [(value)]="selectedSample">
          <mat-option *ngFor="let sample of sampleList" [value]="sample">
            {{sample}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>